.logo__img {
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  flex-grow: 1;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  margin-right: 40px;
}
.navbar__link {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 23px;
  color: #424242;
}
.navbar__link:hover {
  font-size: 1.38rem;
  line-height: 26px;
  color: #424242;
}

.tele {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 28px;
  color: #424242;
}
.tele_header {
  font-size: 20px;
  color: #306838;
}

.button {
  display: inline-block;
  text-decoration: none;
  transition: 1s;
}
.button_primary-large {
  color: #ffffff;
  background: #8B9D83;
  text-transform: uppercase;
  padding: 31px 39px;
  box-shadow: 3px 3px 20px rgba(85, 93, 36, 0.302), -4px -4px 20px #FFFFFF;
  border-radius: 78px;
}
.button_primary-large:hover {
  background: #6D8E5E;
}
.button_primary-normal {
  color: #fff;
  background: #8B9D83;
  background-image: url("../../img/button-arrow-normal.png");
  background-repeat: no-repeat;
  background-position: center right 27px;
  padding: 20px 69px 20px 32px;
  box-shadow: 2.5927px 2.5927px 17.2847px rgba(85, 93, 36, 0.302), -3.45694px -3.45694px 17.2847px #FFFFFF;
  border-radius: 67px;
}
.button_primary-normal:hover {
  background-color: #6D8E5E;
}
.button_primary-small {
  color: #fff;
  font-size: 14px;
  background: #8B9D83;
  padding: 17px 58px 17px 28px;
  box-shadow: 2.09901px 2.09901px 13.9934px rgba(85, 93, 36, 0.302), -2.79867px -2.79867px 13.9934px #FFFFFF;
  border-radius: 55px;
  background-image: url("../../img/button-arrow-small.png");
  background-repeat: no-repeat;
  background-position: center right 27px;
}
.button_primary-small:hover {
  background-color: #6D8E5E;
}
.button_secondary-large {
  font-size: 18px;
  color: #686656;
  padding: 21px 52px;
  border: 3px solid #8B9D83;
  border-radius: 78px;
}
.button_secondary-normal {
  font-size: 16px;
  color: #686656;
  padding: 14px 30px;
  border: 2px solid #8B9D83;
  border-radius: 78px;
}

.icon {
  display: inline-block;
  color: white;
  background: #8B9D83;
  transition: 1s;
}
.icon:hover {
  background: #6D8E5E;
}
.icon_large {
  font-size: 31px;
  padding: 19px 32px;
  box-shadow: 3px 3px 20px rgba(85, 93, 36, 0.302), -4px -4px 20px #FFFFFF;
  border-radius: 78px;
}
.icon_normal {
  padding: 10px 18px;
  font-size: 20px;
  box-shadow: 1.77194px 1.77194px 11.813px rgba(85, 93, 36, 0.302), -2.36259px -2.36259px 11.813px #FFFFFF;
  border-radius: 46px;
}

.heading-wrapper {
  display: flex;
  align-items: center;
}

.heading-1 {
  font-size: 48px;
  line-height: 56px;
  color: #424242;
  font-weight: 600;
}

.heading-2 {
  font-size: 36px;
  line-height: 42px;
  color: #424242;
  font-weight: 600;
}

.heading-description {
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.main {
  background-image: url("../img/main-background.png");
  background-repeat: no-repeat;
  background-position: center right 30%;
  padding-bottom: 200px;
}
.main-wrapper {
  display: flex;
}
.main__wrap-left {
  width: 45%;
}
.main__wrap-right {
  display: flex;
  align-items: center;
  width: 55%;
}
.main__button-wrapp {
  display: flex;
}
.main__description {
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}
.main__img {
  width: 100%;
}

.process {
  background-image: url("../img/process-background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 200px;
}
.process__card {
  display: flex;
  width: 332px;
  margin-bottom: 130px;
}
.process__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.process__card-img {
  align-self: flex-start;
  margin-right: 25px;
}
.process__card-content-heading {
  font-size: 24px;
  line-height: 28px;
  color: #424242;
  margin-bottom: 12px;
}
.process__card-content-descrip {
  font-size: 16px;
  line-height: 19px;
  color: #424242;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDE8E2;
  border: 4px solid #8B9D83;
  border-radius: 12.7003px 12.7003px 38.101px 38.101px;
}
.projects__card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__card-img {
  width: 100%;
}
.projects__card-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 30px 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #B5B5B5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.ml-20 {
  margin-left: 20px;
}

.light-color {
  color: #8B9D83;
}/*# sourceMappingURL=index.css.map */